<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>wurh | 梦想编织者</title>
    <link rel="stylesheet" type="text/css" href="lib/assets/css/amui.all.css">
    <script type="text/javascript" src="lib/assets/js/zepto.min.js"></script>
    <script type="text/javascript" src="lib/assets/js/amui.js"></script>
    <script type="text/javascript" src="lib/assets/js/amui.widget.helper.min.js"></script>
</head>
<body>
<script src="lib/ga.js?__inline"></script>
<script src="lib/lib.js"></script>
<script src="boot.js?__inline"></script>
</body>
</html>